@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900& display=swap");
* {
    margin:100;
    padding: 100;
    box-sizing:border-box;
    font-family:" poppins",sans-serif;
}
body {

  justify-content: center;
 background-image:  url(images.jpeg)  ;
  text-align: center;
    min-height: 50vh;
    background-color:rgb(0, 255, 110);
    width: 50px;
}
.wrapper {
    width: 420px; 
background-color: rgb(131, 87, 208);
    color: #fff;
    display: flex;
   justify-content: center;
   text-align: center;
    border-radius: 10px;
   }
.wrapper h1{
font-size: 36px;
height: 50px;

}
.input-box{
    justify-content: center;
    width: 100%;
    height: 50%px;
    position: relative;
    margin: 30px 0;
}
.input-box input{
    justify-content: center;
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #762020;
    padding: 20px 45px 20px 20px ;
}

.input-box   input::placeholder{
color: #73d67b;
}
.input-box i {
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}
 .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 10px;

 }
.remember-forgot label input{
    accent-color: #861849;
    margin-right:3px;

}
.remember-forgot a{
    color: #d9e5e8;
    text-decoration: none;

}
.remember-forgot a:hover {
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #b7b1b1;
    border: none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}
.register-link{
    font-size: 14.5px;
    text-align:center;
    margin-top:20px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
}

